<form method="POST" action="/auth/login" class="login-box">
  <h1>Log In</h1>
  <input type="text" required name="username" placeholder="Username" />
  <input type="password" required name="password" placeholder="Password" />
  <input type="submit" name="" value="Log In" />
</form>
