<table>
  <thead>
    <tr>
      <th>Advanced Level ⭐️⭐️⭐️</th>
      <th>Repeat</th>
      <th>Set</th>
      <th>Rest</th>
    </tr>
  </thead>
  <tr>
    <td>Negative Pull Up</td>
    <td>10</td>
    <td>3</td>
    <td>3min</td>
  </tr>
  <tr>
    <td>Standard Push Up</td>
    <td>12</td>
    <td>3</td>
    <td>2min</td>
  </tr>
  <tr>
    <td>Full Squat w/Calf Raise</td>
    <td>10</td>
    <td>4</td>
    <td>3min</td>
  </tr>
  <tr>
    <td>Hanging Knee Raise</td>
    <td>10</td>
    <td>4</td>
    <td>2min</td>
  </tr>
  <tr>
    <td>Hip Crossovers</td>
    <td>12</td>
    <td>4</td>
    <td>3min</td>
  </tr>
</table>
