<table>
  <thead>
    <tr>
      <th>Beginner Level ⭐️</th>
      <th>Repeat</th>
      <th>Set</th>
      <th>Rest</th>
    </tr>
  </thead>
  <tr>
    <td>Bend Body Row</td>
    <td>12</td>
    <td>3</td>
    <td>3min</td>
  </tr>
  <tr>
    <td>Wall Push Up</td>
    <td>10</td>
    <td>3</td>
    <td>2min</td>
  </tr>
  <tr>
    <td>Half Squat</td>
    <td>12</td>
    <td>4</td>
    <td>3min</td>
  </tr>
  <tr>
    <td>Lying Tucks</td>
    <td>15</td>
    <td>4</td>
    <td>2min</td>
  </tr>
  <tr>
    <td>Sit Ups</td>
    <td>10</td>
    <td>3</td>
    <td>4min</td>
  </tr>
</table>
