<table>
  <thead>
    <tr>
      <th>Expert Level ⭐️⭐️⭐️⭐️</th>
      <th>Repeat</th>
      <th>Set</th>
      <th>Rest</th>
    </tr>
  </thead>
  <tr>
    <td>Full Pull Up</td>
    <td>12</td>
    <td>4</td>
    <td>2min</td>
  </tr>
  <tr>
    <td>Diamond Push Up</td>
    <td>12</td>
    <td>4</td>
    <td>2min</td>
  </tr>
  <tr>
    <td>Hop Squat</td>
    <td>15</td>
    <td>4</td>
    <td>1min</td>
  </tr>
  <tr>
    <td>Hanging Leg Raise</td>
    <td>15</td>
    <td>4</td>
    <td>2min</td>
  </tr>
  <tr>
    <td>Lying Windmills</td>
    <td>12</td>
    <td>4</td>
    <td>3min</td>
  </tr>
</table>
