<table>
  <thead>
    <tr>
      <th>Intermediate Level ⭐️⭐️</th>
      <th>Repeat</th>
      <th>Set</th>
      <th>Rest</th>
    </tr>
  </thead>
  <tr>
    <td>Straight Body Row</td>
    <td>10</td>
    <td>4</td>
    <td>2min</td>
  </tr>
  <tr>
    <td>Incline Push Up</td>
    <td>12</td>
    <td>4</td>
    <td>3min</td>
  </tr>
  <tr>
    <td>Full Squat</td>
    <td>15</td>
    <td>3</td>
    <td>2min</td>
  </tr>
  <tr>
    <td>Lying Leg Raise</td>
    <td>12</td>
    <td>4</td>
    <td>2min</td>
  </tr>
  <tr>
    <td>Scissor Kicks</td>
    <td>15</td>
    <td>4</td>
    <td>3min</td>
  </tr>
</table>
