<!-- <section class="home-parent">
  <div class="home-box">
    <h1>Home!</h1>
    <a href="/profile">Profile</a>
    <a href="/routine">See routine</a>
  </div>
  <div class="home-img">
    <h2>Why Doing Calisthenics</h2>
    <pre>
      <p>
        Develop Strength that will stay with you forever
        Condition your body doing natural way
        Extend your athetic abilities
        
      </p>
    </pre>
  </div>
</section> -->

<section class="index-parent">
  <div class="info-box">
    <h1>Calisthenics to Change Your Daily Routine</h1>
    <pre>
      <p>
      Understand your current calisthenics ability
      Get your daily routines
      
      Upgrade your level to get harder routines
      Make it a part of your life
      </p>
      <a href="/profile">Back to Profile</a>
    </pre>
  </div>
  <div class="index-img">
    <img
      src="https://res.cloudinary.com/teepublic/image/private/s--Xc0t9kLU--/c_crop,x_10,y_10/c_fit,w_1008/c_crop,g_north_west,h_1050,w_1260,x_-126,y_-419/co_rgb:000000,e_colorize,u_Misc:One%20Pixel%20Gray/c_scale,g_north_west,h_1050,w_1260/fl_layer_apply,g_north_west,x_-126,y_-419/bo_157px_solid_white/e_overlay,fl_layer_apply,h_1050,l_Misc:Art%20Print%20Bumpmap,w_1260/e_shadow,x_6,y_6/c_limit,h_1134,w_1134/c_lpad,g_center,h_1260,w_1260/b_rgb:eeeeee/c_limit,f_auto,h_630,q_90,w_630/v1539418244/production/designs/3123610_3.jpg"
      alt="Calisthenics"
      width="600px"
      height="300px"
    />
  </div>
</section>
