<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>The Calisthenics app</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <header>
      <a href="/">CALISTHENICS</a>
      <nav>
        <ul></ul>
        <% if (!user) { %>
          <li><a href="/auth/signup">Sign Up</a></li>
          <li><a href="/auth/login">Log In</a></li>
       <% } else { %>
          <li><a href="/auth/logout">Log Out</a></li>
       <% } %>

        </ul>
      </nav>
    </header>
    <main>
      <%-body%>
    </main>
    <footer>
      <p>By Enrico & Davut - 2022/Project2 </p>
    </footer>
    <script src="/js/script.js"></script>
  </body>
</html>
