<section class="profile-parent">
  <div class="profile-box box1">
    <% if(userConnected) { %>
    <h2 class="welcome">Welcome, <%= userConnected.username %></h2>
    <h2 class="account-info">Account Info</h2>
    <h2 class="date-info">Created at: <%= userConnected.createdAt %></h2>
    <h2 class="date-info">Uptaded at: <%= userConnected.updatedAt %></h2>
    <%} %>
    <h2 class="level">Your Level: Beginner ⭐️</h2>
    <form method="POST" action="/profile">
      <input type="submit" name="" value="Show My Routine" />
    </form>
  </div>
  <div class="profile-box box2">
    <h2>Edit Your Level?</h2>
    <form method="POST" action="/profile">
      <input type="number" name="squat" placeholder="Squats number at once?" />

      <input
        type="number"
        name="pushup"
        placeholder="Push ups number at once?"
      />

      <input type="submit" name="" value="Edit Level" />
    </form>
  </div>
</section>
