<section>
  <% if(userConnected) { %>
  <h2>Welcome, <%= userConnected.username %>!</h2>
  <p>This is your profile page.</p>
  <p>
   <pre>
    We would like you to enter some information in the following form, 
    so that we can give you a routine according to your experience level.
   </pre>
  </p>

  <% } else { %>

  <br />
  <p>Still no logged in user, sorry!</p>

  <% } %>
  <h2>Your Strength</h2>
  <form method="POST" action="/profile">
    <label
      >How many squats can you do?<input
        type="number"
        placeholder="Squat"
        name="squat"
    /></label>
    <br />
    <label
      >How many push ups can you do?<input
        type="number"
        placeholder="Push ups"
        name="pushup"
    /></label>
    <br />
    <button type="submit">Get a Routine</button>
  </form>
</section>