<section>
  <h2>Your Strength</h2>
  <form method="POST" action="">
    <label>How old are you?<input type="text" placeholder="Your Age" name="age"></label>
    <br>
    <label>How many squats can you do?<input type="text" placeholder="Squat" name="squat"></label>
    <br>
    <label>How many push ups can you do?<input type="text" placeholder="Push ups" name="pushup"></label>
    <br>
    <button type="submit">Submit</button>
  </form>
</section>

